

# Some minor security options
(sec) {
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		-Server
	}
}

# Change to box.mywebsite.com or similar
:80 {
    import sec
    reverse_proxy lrbc-lorebox:8081
}

# This is for the healthcheck. Does not get published
:2027 {
    respond /healthz "ok" 200
}
